* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
fieldset {
    margin: 0;
    padding: 0;
}

input,
textarea {
    width: 100%;
    display: block;
}

fieldset {
    border: none;
}

textarea {
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    margin: 0;
}

picture {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Space Grotesk";
    font-size: 18px;
    color: #000;
    overflow-x: hidden;
}

.stop-scrole {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.section__header {
    display: flex;
    gap: 40px;
}

.main {
    flex-grow: 1;
}


.header.header--fixed {
    position: fixed;
    background-color: #FFF;
    left: 0;
    margin: 0 auto;
    width: 100%;
    top: 0;
    transition: transform 1s ease-in-out;
    transform: translateY(0);
}



.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}
.services__item{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
}
.services__item.animation-class{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
}
.header__burger {
    position: relative;
    width: 24px;
    height: 16px;
    display: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    background-color: transparent;
}

.burger__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;

    &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    &:first-child {
        top: 0;
    }

    &:last-child {
        bottom: 0;
    }
}

.burger--active .burger__line {
    &:nth-child(2) {
        opacity: 0;
    }

    &:first-child {
        transform: rotate(45deg);
        top: 50%;
    }

    &:last-child {
        transform: rotate(-45deg);
        top: 50%;
        bottom: auto;
    }
}

.button {
    cursor: pointer;
    display: flex;
    position: relative;
    appearance: none;
    border-radius: 14px;
    background-color: $black;
    color: #FFF;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    border: 1px solid $black;
    justify-content: center;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, transform .2s ease;

    span {
        position: relative;
        pointer-events: none;
    }

    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, $green, transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }

    &:hover::before {
        --size: 400px;
    }
}

.button:focus {
    outline: $green 3px solid;
}

.button:active {
    outline: $green 3px solid;
    opacity: 0.5;
}

.small-size {
    display: none;
}

.section-title {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    border-radius: 7px;
}

.green-title {
    background-color: $green;
    border-radius: 7px;
}

.white-title {
    background-color: white;
}

.black-card {
    background-color: $black;

    a {
        color: white;
    }

}

.green-card {
    background-color: $green;
}

.grey-card {
    background-color: $grey;

}


.open .process__btn::after {
    background-image: url(../images/minus-icon.svg);
    transition: all 0.2s ease-out;
}

.open .process__text {
    opacity: 1;
    padding-top: 60px;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    margin: 0;
    top: 84%;
}

.swiper-button-next:after,
.swiper-container-rtl {
    content: '';
    display: block;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    width: 24px;
    transition: transform 0.3s ease;
    height: 25px;
}

.swiper-button-prev:after {
    content: '';
    display: block;
    background-image: url(../images/arrow-left.svg);
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    width: 24px;
    height: 25px;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev {
    left: 35%;

}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    transform: scale(1.1);
}

.swiper-button-next {
    right: 35%;
}

.black-window {
    padding-bottom: 68px;
}

.big_window {
    padding: 18px 30px;
    height: 190px;
}