@import "normalize.scss";
@import "../../node_modules/swiper/swiper-bundle";
@import "fonts.scss";
@import "const.scss";
@import "global.scss";



.header__container {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}


.header {
    z-index: 100;
    padding-top: 60px;
    &__logo {
        margin-right: 10px;
    }

    &__list {
        display: flex;
        gap: 40px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__link {
        color: #000;
        font-size: 20px;
        line-height: 28px;
        position: relative;
        transition: opacity 0.3s ease;

        &:active {
            opacity: 0.8;
        }
    }

}

.header__item:not(:last-child) .header__link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: black;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.header__item:not(:last-child) .header__link:hover::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: black;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}



.header__button {
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $green;
    }

    &:active {
        opacity: 0.6;
    }

    padding: 20px 35px;
    border: 1px solid $black;
    border-radius: 14px;
}


.promo {
    padding-top: 70px;
    padding-bottom: 140px;
    color: #000;


    &__container {
        display: grid;
        grid-template-columns: 531px auto;
        gap: 35px
    }

    picture {
        flex-direction: row-reverse;
        display: flex;
        width: 100%;
        grid-row: 1/4;
        height: 100%;
    }

    &__illustration {
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }

    &__title {
        grid-row: 1/2;
        font-size: 60px;
        font-weight: 500;
    }

    &__subtitle {
        grid-row: 2/3;
        font-size: 20px;
        line-height: 28px;
        max-width: 505px;
    }

    &__button {
        grid-row: 3/4;
        padding: 20px 35px;
        max-width: 268px;
    }

    &__list {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        height: 56px;
        width: 100%;
        overflow: hidden;
        padding: 5px 2px;

    }

    &__item {
        display: inline-block;

    }

    &__link {
        display: block;
        &:focus{
            outline: #000 2px solid;
        }
        &:active{
            opacity: 0.6;
        }
         
    }

    &__image {
        filter: grayscale(1);
        transition: all 0.5s ease;

    }

    &__image:hover {
        filter: grayscale(0);
    }
}


.services {
    &__header {
        margin-bottom: 80px;
    }

    &__title {
        padding: 0px 7px;
        border-radius: 7px;
    }

    &__subtitle {
        max-width: 580px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;

    }

    picture {
        align-self: center;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    &__item {
        display: grid;
        width: 600px;
        min-height: 310px;
        padding: 50px;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        border: 1px solid $black;
        box-shadow: 0px 5px 0px 0px $black;
        border-radius: 45px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        margin-right: 10px;
    }

    &__item-link {
        position: relative;
        display: flex;
        align-items: center;
        align-self: self-end;
        gap: 15px;
        font-size: 20px;
       
        line-height: 28px;
        &:hover{
            &::before{
                transform: rotate(90deg);
            }
        }
    }

    &__item-link::before {
        content: '';
        background-image: url(../images/black-green-icon.svg);
        width: 41px;
        height: 41px;
        transition: transform 0.3s ease;
    }

    &__item-image {
        object-fit: cover;
    }

    &__item-title {
        width: 222px;
        font-size: 30px;
        font-weight: 500;
        padding: 0px 7px;
        border-radius: 7px;
    }

    &__contact {
        position: relative;
        display: flex;
        gap: 26px;
        opacity: 0;
        flex-direction: column;
        background-color: $grey;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 60px;
        border-radius: 45px;
        margin-bottom: 163px;
    }

    &__contact::after {
        position: absolute;
        content: '';
        background-image: url(../images/contacts.png);
        background-repeat: no-repeat;
        background-position: right center;
        right: 0;
        top: -20px;
        width: 494px;
        height: 394px;
    }

    &__contact-title {
        max-width: 500px;
        font-size: 30px;
        font-weight: 500;
    }

    &__contact-subtitle {
        max-width: 500px;
    }

    &__contact-link {
        padding: 20px 35px;
        color: #fff;
        border-radius: 25px;
        background-color: black;
        max-width: 290px;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover{
            background-color: $green;
            color: #000;
        }
        &:focus{
            outline: 3px black solid;
        }
        &:active{
            opacity: 0.6;
        }
    }
}

.services__item.black-card>.services__item-link::before {
    content: '';
    background-image: url(../images/white-black-icon.svg);
}

.case {
    margin-bottom: 140px;

    &__swiper {
        display: none;

    }

    &__header {
        margin-bottom: 85px;
    }

    &__subtitle {
        max-width: 580px;
    }

    &__list {
        display: flex;
        color: white;
        gap: 128px;
        justify-content: space-between;
        padding: 70px 60px;
        border-radius: 45px;
        background: $black;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    &__item:not(:last-child)::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 186px;
        background: white;
        right: -64px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 15px;
        color: $green;
        font-size: 20px;
        line-height: 28px;
        &:hover{
            text-decoration: underline;
        }
        &:hover::after{
            transform: rotate(90deg);
        }
    }

    &__link::after {
        content: '';
        
        transition: transform 0.3s ease;
        background-image: url(../images/arrow.svg);
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }



}

.process {
    margin-bottom: 140px;

    &__header {
        margin-bottom: 85px;
    }

    &__subtitle {
        max-width: 292px;
    }

    &__btn {
        color: #000;
        appearance: none;
        position: relative;
        padding-left: 0;
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 25px;
        width: 100%;
        font-size: 30px;
        font-weight: 500;
        background-color: transparent;
        text-align: left;
        border: none;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            background-image: url(../images/plus-icon.svg);
            background-repeat: no-repeat;
            width: 58px;
            height: 58px;

            margin-left: auto;
            transition: all 0.2s ease-out;
        }
    }

    &__number {
        font-size: 60px;
    }

    &__text {
        box-sizing: content-box;
        position: relative;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        will-change: max-height;
        
        transition: all 0.3s ease-out;
    }

    &__text::before {
        content: '';
        position: absolute;
        top: 30px;
        width: 100%;
        background: black;
        height: 1px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 10px;
    }

    &__item {
        box-sizing: content-box;
        transition: box-shadow 0.3s ease-in-out;
        cursor: pointer;
        padding: 41px 60px;
        background-color: $grey;
        border-radius: 45px;
        border: 1px solid #191A23;
        box-shadow: 0px 5px 0px 0px #191A23;
    }
}

.open {
    background-color: $green;
}

.team {
    margin-bottom: 190px;

    &__header {
        margin-bottom: 85px;
    }

    &__subtitle {
        max-width: 473px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-bottom: 40px;

    }

    &__item {
        padding: 40px 35px;
        max-width: 386px;
        display: flex;
        flex-direction: column;
        gap: 56px;
        border-radius: 45px;
        border: 1px solid #191A23;
        background: #FFF;
        box-shadow: 0px 5px 0px 0px #191A23;

        &:nth-child(n+7) {
            display: none;
        }
    }

    &__item-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            background: #000;
            height: 1px;
            bottom: -28px;

        }

    }

    &__item-name {
        font-size: 20px;
        font-weight: 500;
    }

    &__item-name-wrapper {
        align-self: flex-end;
    }

    &__item-link {
        height: 34px;
        svg{
            fill: none;
            circle{
                transition: fill 0.3s ease;
            }
            path{
                transition: fill 0.3s ease;
                fill:#B9FF66;
            }
        }
        &:hover{
            svg{
                circle{
                    fill: #B9FF66;
                }
                path{
                    fill:#000;
                }
            }
        }
        &:focus{
            outline: #000 solid 3px;
        }
        &:active{
            opacity: 0.6;
        }
    }

    &__button {
        color: #fff;
        display: block;
        margin-left: auto;
        padding: 20px 35px;
        border-radius: 14px;
        background: $black;
        cursor: pointer;
        font-size: 20px;
        line-height: 28px;
    }
}

.team__item.is-visible {
    display: flex;
}


.reviews {
    margin-bottom: 140px;

    &__header {
        margin-bottom: 80px;
    }

    &__subtitle {
        max-width: 473px;
    }

    &__list {
        width: 100%;
        padding-bottom: 124px;

    }

    &__item {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &__text {
        margin-bottom: 20px;
        display: block;
        position: relative;
        margin: 0;
        z-index: 3;
        max-width: 606px;
        padding: 32px 52px;
        border: 1px $green solid;
        border-radius: 45px;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 36px;
            bottom: -50px;
            border: 25px solid;
            border-color: $green transparent transparent transparent;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 37px;
            bottom: -47px;
            border: 24px solid;
            border-color: $black transparent transparent transparent;
        }
    }

    &__wrapper {
        margin-right: 180px;
        font-size: 20px;
        font-weight: 500;
    }

    &__name {
        color: $green;

    }

    &__job {
        color: #fff;
    }
}

.reviews__swiper {
    position: relative;
    background: $black;
    padding-top: 84px;
    padding-bottom: 82px;
    border-radius: 45px;
    color: #fff;
    overflow: hidden;

}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10%;
}

.swiper-pagination-bullet {
    opacity: 1;
    width: 14px;
    height: 14px;
    border-radius: 0px;
    background: url(../images/pagination-icon.svg);
    background-repeat: no-repeat;
    background-position: center 0;
}

.swiper-pagination-bullet-active {
    background: url(../images/pagination-active.svg);
}

.contact {
    margin-bottom: 140px;

    &__header {
        margin-bottom: 85px;
    }

    &__subtitle {
        max-width: 323px;
    }

    &__button {
        padding: 20px 35px;
        max-width: 556px;
    }

}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 45px;
    background-color: $grey;
    background-image: url(../images/form-image.png);
    background-repeat: no-repeat;
    background-position: 165% center;

}

.contact-list-radio {
    display: flex;
    border: none;
    padding: 0;
    gap: 89px;
    align-items: center;
}

.contact__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 42px;
}

.contact__radio:checked+.radio__style::before {
    content: '';
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $green;
    position: absolute;
    border-radius: 50%;
}

.contact__radio:focus+.radio__style {
    box-shadow: 0 0 0 2px #000;
}

.radio__style {
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px $black solid;
    border-radius: 50%;
    margin-left: -42px;
}

.label-radio {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-left: 42px;
    }
}

.label-text {
    color: #000;
    font-size: 16px;
    line-height: 28px;
}

.contact-list-text {
    display: flex;
    flex-direction: column;
}

.contact__text {
    position: relative;
    display: block;
    padding: 18px 30px;
    max-width: 556px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 14px;
    background: #FFF;
}
.facebook{
    svg{
        path{
           transition: fill 0.4s ease; 
        }
    }
}
.facebook:hover{
    svg{
        path{
            fill: $green;
        }
    }
}
.footer {
    &__container {
        color: #fff;
        padding: 55px 60px;
        background-color: $black;
        border-radius: 45px 45px 0px 0px;

    }

    &__box-list {
        display: grid;
        grid-template-rows: 30px 1fr;
        grid-row-gap: 50px;
        grid-template-columns: 1fr 2fr 1fr;
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px #fff solid;
    }

    &__logo {
        max-width: 150px;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    &__menu {

        display: flex;
        gap: 155px;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &:first-of-type {
            grid-column-start: 2;
            grid-column-end: 3;
            gap: 40px;
            justify-self: end;
        }

        &:last-of-type {
            grid-column-start: 3;
            grid-column-end: 4;
            gap: 20px;
            justify-self: end;
        }
    }

    &__item {
        max-height: 30px;
    }

    &__link {
        text-decoration: underline;
        padding-bottom: 1px;
        transition: color 0.3s ease, text-decoration 0.3s ease;
        &:hover{
            text-decoration: none;
            color: $green;
        }
        &:focus-visible{
            outline: #fff solid 2px;
        }
        &:active{
            opacity: 0.6;
        }
    }
    &__soc-link{
        svg{
            circle{
                transition: fill 0.4s ease;
            }
        }
    
        &:hover{
            svg{
                circle{
                    fill: #B9FF66;
                }
            }
        }
        &:focus-visible{
            outline: #fff solid 2px;
        }
        &:active{
            opacity: 0.6;
        }
    }
   
    &__contact {
        &-title {
            margin-bottom: 27px;
            background-color: $green;
            color: #000;
            padding: 0px 7px;
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            border-radius: 7px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 332px;
        }
        &-link{
            &:hover{
                text-decoration: underline;
                color: $green;
            }
            &:focus-visible{
                outline: #fff solid 2px;
            }
            &:active{
                opacity: 0.6;
            }
        }
    }

    &__form {
        display: flex;
        gap: 20px;
        flex-basis: 634px;
        justify-self: right;
        grid-column: 2/-1;
        padding: 58px 40px;
        background: #292A32;
        border-radius: 14px;

        &-input {
            position: relative;
            color: #fff;
            max-width: 285px;
            background: transparent;
            border-radius: 14px;
            border: 1px solid #FFF;
            padding: 22px 35px;

            &::placeholder {
                color: #fff;
                font-size: 18px;
                font-family: Space Grotesk;
                font-weight: 400;
            }
        }

        &-button {
            cursor: pointer;
            padding: 20px 35px;
            background: $green;
            border-radius: 14px;
            transition: background-color 0.3s ease;
            &:hover{
                background-color: #fff;
            }
        }
    }

    &__copyright {
        display: flex;
        gap: 40px;

        &-link {
            text-decoration: underline;
            &:hover{
                text-decoration: none;
                color: $green;
            }
            &:focus-visible{
                outline: #fff solid 2px;
            }
            &:active{
                opacity: 0.6;
            }
        }
    }
}


@import "media.scss";