@import "normalize.scss";
@import "fonts.scss";
@import "const.scss";
@import "global.scss";



.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header {
    padding-top: 60px;

    &__logo {
        margin-right: 10px;
    }

    &__list {
        display: flex;
        gap: 40px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__link {
        color: #000;
        font-size: 20px;
        line-height: 28px;
    }
}

.header__button {
    padding: 20px 35px;
    border: 1px solid $black;
    border-radius: 14px;
}

.promo {
    padding-top: 70px;
    padding-bottom: 140px;
    color: #000;
    background-image: image-set(url("../images/Illustration.avif") type("image/avif"),
            url("../images/Illustration.webp") type("image/webp"),
            url("../images/Illustration.png") type("image/png"),
        );
    background-repeat: no-repeat;
    background-position: 65% 30%;

    &__container {
        max-width: 531px;
        display: flex;
        flex-direction: column;
        gap: 35px
    }

    &__title {

        font-size: 60px;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 28px;
        max-width: 505px;
    }

    &__button {
        padding: 20px 35px;
        max-width: 265px;
    }

    &__list {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        height: 48px;
        width: 100%;
        overflow: hidden;

    }

    &__item {
        display: inline-block;


    }

    &__link {
        display: block;
    }

    &__image {
        filter: grayscale(1);
        transition: all 0.5s ease;

    }

    &__image:hover {
        filter: grayscale(0);
    }
}


.services {
    &__header {
        display: flex;
        gap: 40px;
        margin-bottom: 80px;
    }

    &__title {
        padding: 0px 7px;
        border-radius: 7px;
    }

    &__subtitle {
        max-width: 580px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


    }

    picture {
        align-self: center;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    &__item {
        display: grid;
        width: 600px;
        height: 310px;
        padding: 50px;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        border: 1px solid $black;
        box-shadow: 0px 5px 0px 0px $black;
        border-radius: 45px;
        margin-bottom: 40px;
        margin-right: 10px;
    }

    &__item-link {
        position: relative;
        display: flex;
        align-items: center;
        align-self: self-end;
        gap: 15px;
        font-size: 20px;
        line-height: 28px;
    }
    &__item-link::before{
        content: '';
        background-image: url(../images/black-green-icon.svg);
        width: 41px;
        height: 41px;
    }
    &__item-image {
        object-fit: cover;
    }

    &__item-title {
        width: 222px;
        font-size: 30px;
        font-weight: 500;
        padding: 0px 7px;
        border-radius: 7px;

    }
}